# Dependencias y librerías
/node_modules

# Archivos de caché y compilación
.cache
npm-debug.log
yarn-error.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
