# Dependencies
/node_modules
/BackendTurnos/node_modules
/FrontTurnos/node_modules

# Build artifacts
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.eslintcache

# Environment variables
.env
.env.local
